<!DOCTYPE html>
<html>
<head>
  <title>LoginRegistration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
  #wrapper {
    width: 680px;
  }
</style>
<body>
<div id="wrapper">
<% if current_user %>
  <a href="/logout" data-method="delete" style="float: right; margin-left: 10px;">Logout</a>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= yield %>

</div>
</body>
</html>
